<?xml version="1.0" encoding="UTF-8"?>
<!-- MyBatis配置文件 -->

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<package name="org.lsf.pojo"/>
	</typeAliases>

	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
			<property name="param1" value="value1"/>
			<!--分页参数合理化,不会小于0,也不会大于总页数-->
			<!--只是在效果上显示出合理性 但是实际上依然会发送请求-->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>


</configuration>

